<!DOCTYPE html>
<html lang="es">
    <%- include ("partials/header.ejs") -%>
    <body class="wrapper">
        <div class="box-aviso">
            <i class='bx bxs-error-alt' ></i>
            <h1>ERROR 404</h1>
            <h2>Página no encontrada</h2>
            <div class="button">
               <a class="regresar" href="/"> <i class='bx bxs-left-arrow' ></i> Volver</a>
            </div>
        </div>
        <!-- Insertar footer -->
        <%- include ("partials/footer.ejs") -%>
    </body>
</html>
