<!DOCTYPE html>
<html lang="es">
    <%- include ("partials/header.ejs") -%>
    <body>
        <!-- Insertar formulario -->
        <%- include ("partials/dashboard.ejs") -%>

        <!-- Insertar footer -->
        <%- include ("partials/footer.ejs") -%>
       
    </body>
</html>
