<!DOCTYPE html>
<html lang="es">
    <%- include ("partials/header.ejs") -%>
    <body>
        <!-- Insertar formulario -->
       <div class="wrapper">
        <%- include ("partials/form_login.ejs") -%>
       </div>

        <!-- Insertar footer -->
        <%- include ("partials/footer.ejs") -%>
       
    </body>
</html>
